<div class="cards-container">
    <!-- Card 1 -->
    <a routerLink="/header/software" class="card-link">
        <div class="card1">
            <div class="container">
                <h1>SOFTWARE</h1>
                <img src="../../assets/software.png" alt="Avatar" class="icon">
            </div>
        </div>
    </a>

    <!-- Card 2 -->
    <a routerLink="/header/NON-IT" class="card-link">
        <div class="card2">
            <div class="container">
                <h1>NON-IT</h1>
                <img src="../../assets/non-it.png" alt="Avatar" class="icon">
            </div>
        </div>
    </a>

    <!-- Card 3 -->
    <a routerLink="/header/banking" class="card-link">
        <div class="card3">
            <div class="container">
                <h1>BANKING</h1>
                <img src="../../assets/bank.png" alt="Avatar" class="icon">
            </div>
        </div>
    </a>

    <!-- Card 4 -->
    <a routerLink="/header/hospital" class="card-link">
        <div class="card4">
            <div class="container">
                <h1>HOSPITAL</h1>
                <img src="../../assets/medical.png" alt="Avatar" class="icon">
            </div>
        </div>
    </a>

    <!-- Card 5 -->
    <a routerLink="/header/school" class="card-link">
        <div class="card5">
            <div class="container">
                <h1>SCHOOL</h1>
                <img src="../../assets/school.png" alt="Avatar" class="icon">
            </div>
        </div>
    </a>
</div>


<router-outlet></router-outlet>