<div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <p>Reset your password here</p>
    <form (submit)="onSubmit()">
        <label for="email"></label><br />
        <input type="email" id="email" name="email" placeholder="Enter your email" required /><br />

        <!-- <label for="OTP" class="otp-label"></label><br />
        <input type="OTP" id="otp" name="otp" placeholder="OTP" required /><br /> -->

        <label for="new-password"></label><br />
        <div class="password-field">
            <input
                type="password"
                id="new-password"
                name="newPassword"
                placeholder="Enter new password"
                required
            />
            <img
                src="../../assets/view.png"
                alt="Toggle Password Visibility"
                class="toggle-password"
                (click)="togglePasswordVisibility('new-password')"
            />
        </div><br />

        <label for="confirm-password"></label><br />
        <div class="password-field">
            <input
                type="password"
                id="confirm-password"
                name="confirmPassword"
                placeholder="Confirm new password"
                required
            />
            <img
                src="../../assets/view.png"
                alt="Toggle Password Visibility"
                class="toggle-password"
                (click)="togglePasswordVisibility('confirm-password')"
            />
        </div><br />

        <button type="submit">Reset Password</button>
    </form>
    <p>
        <a href="/login" class="back-to-login"> Back to Login Page</a>
    </p>
</div>
