<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Left Panel -->
            <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar left-panel">
                <div class="position-sticky">
                    <h2 class="comlog d-flex align-items-center">
                        <img src="../../assets/devaki tech.jpg" alt="Company Logo" class="company-logo">
                        <span>HRMS</span>
                    </h2>
                    <div class="nav flex-column">
                        <a class="nav-link example-btn" 
                        (click)="setActiveButton('dashboard')" routerLink="/mainpage">
                            <i class="bi bi-house-door"></i> Home
                        </a>
                        <a class="nav-link example-btn" [ngClass]="{'active': activeButton === 'dashboard'}" 
                            (click)="setActiveButton('dashboard')" routerLink="/bgvheader/bgvdashboard">
                            <i class="bi bi-grid me-2"></i> Dashboard
                        </a>
                        <a class="nav-link example-btn" [ngClass]="{'active': activeButton === 'bgv'}" 
                            (click)="setActiveButton('bgv')" routerLink="/bgvheader/bgvallemployees">
                            <i class="bi bi-shield-lock"></i> BGV
                        </a>
                        <a class="nav-link example-btn" [ngClass]="{'active': activeButton === 'Settings'}" 
                            (click)="setActiveButton('Settings')" routerLink="/bgvheader/Settings">
                            <i class="bi bi-gear"></i> Settings
                        </a>
                    </div>
                </div>
            </nav>

            <!-- Main Content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="header d-flex align-items-center justify-content-between">
                   
                    
                    <div class="username">
                        <span *ngIf="!showGreetingAndIcon">
                            <div>{{ currentRoute }}</div>
                            <div class="greeting-text">{{ greeting }}</div>
                        </span>
            
                        <span *ngIf="showGreetingAndIcon">
                            <span class="username">{{ 'Hello, ' + username }}👋</span>
                            <span class="greeting-text">{{ greeting }}</span>
                        </span>
                    </div>
            
                    <div class="search-bar d-flex align-items-center position-relative">
                        <div class="position-relative search-container me-2">
                            <i class="bi bi-search fs-4"></i>
                            <input type="text" class="form-control search-input" placeholder="Search">
                        </div>
                        <i class="bi bi-bell fs-3 me-2"></i>
                    </div>
            
                    <div class="employee-info d-flex align-items-center">
                        <img src="../../assets/profile.png" alt="Employee Image" class="emp-image">
                        <div class="emp-details">
                            <span class="emp-name">{{username}}</span>
                            <span class="emp-designation">HR Manager</span>
                        </div>
                            <!-- Bootstrap Down Arrow Icon -->
            <i class="bi bi-chevron-down ms-2 toggle-icon" (click)="toggleLogoutMenu()"></i>
                        <div class="logout-menu" *ngIf="isMenuVisible">
                            <button class="btn btn-danger logout-btn" (click)="logout()">Logout</button>
                        </div>
                    </div>
                </div>
            </main></div></div>
    <router-outlet></router-outlet>
</body>
