<div class="container-fluid">
    <div class="row">
        <!-- Left Panel -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar left-panel">
            <div class="position-sticky">
                <h2 class="comlog d-flex align-items-center">
                    <img src="../../assets/devaki tech.jpg" alt="Company Logo" class="company-logo">
                    <span>HRMS</span>
                </h2>

                <div class="nav flex-column">
                    <a class="nav-link example-btn" [ngClass]="{'active': activeButton === 'dashboard'}" 
                        (click)="setActiveButton('dashboard')" routerLink="/header/dashboard">
                        <img src="../../assets/dashboard.png" alt="Dashboard Icon" class="btn-icon"> Dashboard
                    </a>
                    <a class="nav-link example-btn" [ngClass]="{'active': activeButton === 'employees'}" 
                        (click)="setActiveButton('employees')" routerLink="/header/all-employees">
                        <img src="../../assets/allemp.png" alt="Employees Icon" class="btn-icon"> All Employees
                    </a>
                    <a class="nav-link example-btn" [ngClass]="{'active': activeButton === 'departments'}" 
                        (click)="setActiveButton('departments')" routerLink="/header/all-departments">
                        <img src="../../assets/alldep.png" alt="Departments Icon" class="btn-icon"> All Departments
                    </a>
                    <a class="nav-link example-btn" [ngClass]="{'active': activeButton === 'attendance'}" 
                        (click)="setActiveButton('attendance')" routerLink="/header/attendance">
                        <img src="../../assets/attendence.png" alt="Attendance Icon" class="btn-icon"> Attendance
                    </a>
                    <a class="nav-link example-btn" [ngClass]="{'active': activeButton === 'engage'}" 
                        (click)="setActiveButton('engage')" routerLink="/header/employee-engage">
                        <img src="../../assets/empemg.png" alt="Engage Icon" class="btn-icon"> Activities
                    </a>
                    <a class="nav-link example-btn" [ngClass]="{'active': activeButton === 'payroll'}" 
                        (click)="setActiveButton('payroll')" routerLink="/header/payroll">
                        <img src="../../assets/payroll.png" alt="Payroll Icon" class="btn-icon"> Payroll
                    </a>
                    <a class="nav-link example-btn" [ngClass]="{'active': activeButton === 'Projects'}" 
                        (click)="setActiveButton('Projects')" routerLink="/header/projects">
                        <img src="../../assets/jobspro.png" alt="Payroll Icon" class="btn-icon"> Projects
                    </a>
                    <a class="nav-link example-btn" [ngClass]="{'active': activeButton === 'Jobs'}" 
                        (click)="setActiveButton('Jobs')" routerLink="/header/Jobs">
                        <img src="../../assets/jobspro.png" alt="Payroll Icon" class="btn-icon"> Jobs
                    </a>
                    <a class="nav-link example-btn" [ngClass]="{'active': activeButton === 'Leaves'}" 
                        (click)="setActiveButton('Leaves')" routerLink="/header/Leaves">
                        <img src="../../assets/leaves.png" alt="Payroll Icon" class="btn-icon"> Leaves
                    </a>
                    <a class="nav-link example-btn" [ngClass]="{'active': activeButton === 'Holidays'}" 
                        (click)="setActiveButton('Holidays')" routerLink="/header/holidays">
                        <img src="../../assets/Holidays.png" alt="Payroll Icon" class="btn-icon"> Holidays
                    </a>
                    <a class="nav-link example-btn" [ngClass]="{'active': activeButton === 'Settings'}" 
                        (click)="setActiveButton('Settings')" routerLink="/header/Settings">
                        <img src="../../assets/setting.png" alt="Payroll Icon" class="btn-icon"> Settings
                    </a>
                </div>
            </div>
        </nav>

        <!-- Header -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="header d-flex align-items-center">
                <div class="username">
                    <span *ngIf="!showGreetingAndIcon">
                        <div>{{ currentRoute }}</div>
                        <div class="greeting-text">{{ greeting }}</div>
                    </span>

                    <span *ngIf="showGreetingAndIcon">
                        <span class="username">{{ 'Hello, ' + username }}👋</span>
                        <span class="greeting-text">{{ greeting }}</span>
                    </span>
                </div>

                <div class="search-bar ms-auto d-flex align-items-center">
                    <input type="text" class="form-control" placeholder="Search..." />
                    <img src="../../assets/bell.png" alt="Notification" class="notification-icon ms-2">
                </div>

                <div class="employee-info d-flex align-items-center">
                    <img src="../../assets/profile.png" alt="Employee Image" class="emp-image">
                    <div class="emp-details">
                        <span class="emp-name">{{username}}</span>
                        <span class="emp-designation">HR Manager</span>
                    </div>
                    <a class="logout-symbol ms-2" (click)="toggleLogoutMenu()" [class.rotated]="isMenuVisible">&#94;</a>
                    <div class="logout-menu" *ngIf="isMenuVisible">
                        <button class="btn btn-danger logout-btn" (click)="logout()">Logout</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<router-outlet></router-outlet>
